//Textos
  h1{text-align:center;
  size:150;
  color:#ff8000}
//Imagenes
  .fotonaruto{
  display:block;
  margin:auto;
  }
//Tablas
  table {
    border-collapse: collapse;
  }
  
  th,{
  border: 1px solid black;
  }
  
  table{
    text-align:center;
  }

//Links
  a:link{


