/*//textos

  h1{text-align:center;
  size:150;
  color:#ff8000;
}
//Imagenes

  .fotonaruto{
  display:block;
  margin:auto;
  }*/
//Tablas

  table {
    border-collapse: collapse;
  }
  
  th,{
  border: 1px solid #000;
  solid black;
  }
  
  table{
    text-align:center;
  }

//Links
a:link{}


#portada{
  text-align:center;
  width:100%;
  float:left;
}
#tabla{
  width:60%; 
  float:left;
}
#espaciador{
  width:32%;
  float:left;
}
    




