
/*
//Imagenes

  .fotonaruto{
  display:block;
  margin:auto;
  height: auto; 
  width: auto; 
  }
//Tablas
  
 table.center {
    margin-left:auto; 
    margin-right:auto;
  }
  table {
    border-collapse: collapse;
  }
  
  th,{
  border: 1px solid #000;
  solid black;
  }
  
  table{
    text-align:center;
  }

//Links
a:link{}


#portada{
  text-align:center;
  width:100%;
  float:left;
  font-size:50px;
}
#tabla{
  width:100%; 
  float:left;
}
*/




